html, body {
  height: 100%;    
  margin: 0;       
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1;  
}

.footer {
  background-color: #000000; 
  color: white;               
  text-align: center;         
  padding: 40px 0;            
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;            
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;        
}

.footer-logo .logo {
  width: 150px;               
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
}

.footer-links a:hover {
  color: white;
}

.social-media a {
  margin: 0 15px;
  color: #ccc;
  text-decoration: none;
}

.social-media a:hover {
  color: white;
}

.quick-links a {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
}

.footer-bottom p{
  color: rgb(192, 192, 192);
}

.social-media a:hover {
  color: #fff; 
}

@media (max-width: 500px) {
  .social-media a {
    margin: 0 25px;
  }

  .quick-links{
    margin: 40px 0px 0px;
  }

  .quick-links a{
    font-size: 12px;
    margin-right: 15px;
  }

  .footer-bottom p{
    font-size: 15px;
  }
}

@media (min-width: 500px) and (max-width: 860px) {
  .social-media a {
    margin: 0 30px;
  }

  .quick-links{
    margin: 30px 0px 0px;
  }

  .quick-links a{
    margin-right: 25px;
  }

  .footer-bottom p{
    font-size: 15px;
  }
}

@media (min-width: 860px) and (max-width: 1160px) {
  .social-media a {
    margin: 0 30px;
  }

  .quick-links{
    margin: 30px 0px 0px;
  }

  .quick-links a{
    margin-right: 25px;
  }

  .footer-bottom p{
    font-size: 15px;
  }
}
