.credibility-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e6f0f3; 
    padding: 55px 0px ;
    border-radius: 20px;
    margin-top: 150px !important;
    margin-bottom : 50px !important;
    margin: 0 auto; 
    margin: 100px 0px 20px 0;
    width: 1300px;
    transform: translateX(339px);
  }
  
  .feature {
    text-align: center;
    margin: 0 10px;
  }
  
  .feature-icon {
    width: 70px; /* Smaller width */
    height: 70px; /* Smaller height */
    margin-bottom: 0px;
  }
  
  p {
    font-size: 20px;
    color: #333;
    /* margin: 0; */
  }

  @media (max-width: 450px) {
    .credibility-section {
      margin-left: -330px;
      width: 350px;
    }
    
    .feature {
      text-align: center;
      margin: 0 10px; /* Reduce space between features */
    }
    
    .feature-icon {
      width: 40px; 
      height: 40px; 
    }
    
    .feature p {
      font-size: 12px;
    }
  
  }