.all-items{
    background-color: #E0E6F6;
    margin: 100px 0px 20px 0; /* Reset margins */
    border-radius: 20px;
    width: 1300px;
    transform: translateX(339px); /* Move 100px to the right */
}

.all-items-header{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 300px;
}

.all-items-header h1{
    color: black;
}

.modify-item-btn{
    margin-left: 100px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px black solid;
}

.modify-item-btn:hover{
    font-size: 16px;
    transition: 0.9s ease;
    background-color: #a7b2e3;
    border-color: #a7b2e3;
}

.items-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.all-items-header{
    display: flex;
}

@media (max-width: 450px) {
    .all-items{
        width: 350px;
        margin-left: -330px;
    }

    .items-display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: 20px;
    }
    
    .all-items-header{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -20px;
    }

    .all-items-header h1{
        font-size: 20px;
    }

    .modify-item-btn{
        margin-left: 50px;
        padding: 5px 10px;
    }
}

@media (min-width: 450px) and (max-width: 600px) {}

@media (min-width: 600px) and (max-width: 860px) {}

@media (min-width: 860px) and (max-width: 1090px) {}

@media (min-width: 1090px) and (max-width: 1740px) {}